@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Oswald&display=swap');

main {
  /* margin: 0 auto; */
  font-family: 'Oswald', sans-serif;
}

#slider {
  width: 894px;
  height: 290px;
  margin: 20px auto;
}

.imagens-slider {
  width: 894px;
  height: 290px;
  border-radius: 15px;
}

#conteudo {
  display: flex;
  flex-direction: row;
  color: rgb(101, 101, 101);
  justify-content: space-around;
  align-items: center;
  width: 894px;
  height: 290px;
  margin: auto;
  margin-top: 50px;
}

#conteudo h2 {
  font-size: 24px;
}

#conteudo h3 {
  font-size: 20px;
  text-align: justify;
}

#conteudo li {
  margin: 10px -20px;
}

#conteudo img {
  width: 325px;
  height: 212px;
  border-radius: 100%;
}

#texto-conteudo a {
  text-decoration: none;
  color: rgb(101, 101, 101);
}

#texto-conteudo a:hover {
  text-decoration: underline;
  color: rgb(34, 6, 188);
}

#destaques {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 894px;
  align-items: center;
  color: rgb(101, 101, 101);
}

#destaques-img{
  display: flex;
  border-radius: 15%;
  width: 196px;
  height: 163px;
  margin: 15px;
}

#div-img {
  display: flex;
  text-align: center;
}

#div-img :hover{
  opacity: 0.8;
  height: 150px;
}

@media screen and (max-width: 768px) {
  #div-img {
    display: flex;
    flex-direction: column;
    margin-right: 500px;
  }
  .img-text {
    margin: 0 auto;
  }

  #conteudo {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin: 20px auto;
    text-align: center;
  }

  #slider {
    width: 350px;
    margin: 20px auto;
  }

  #div-img :hover{
    height: 60%;
    width: 80%;
  }
}
